{% extends 'parts.html.twig' %}

{% block title %}Users: Manage{% endblock %}

{% block body %}
    <h1>Manage Users</h1>
    <table id="users"></table>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap-table.min.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#users').bootstrapTable({
                columns: [{
                        field: 'username',
                        title: 'Username',
                        formatter: function (value, row, index) {
                            return '<a href="#">' + value + '</a>';
                        }
                    },{
                        title: 'Name',
                        formatter: function (value, row, index) {
                            return row.name_first + ' ' + row.name_last;
                        }
                    }, {
                        title: 'Actions',
                        formatter: function (value, row, index) {
                            return ' ';
                        }
                    }],
                url: '/users/get',
                pagination: true,
                sidePagination:'server',
                search: true
            });
        });
    </script>
{% endblock %}