{% extends 'parts.html.twig' %}

{% block title %}Users: Manage{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <h1>Users</h1>
        </div>
        <div class="col-sm-4 hidden-xs text-right" style="padding-top:20px;">
            <a id="lAddNew" href="{{ path('users_add') }}" class="btn btn-xl btn-primary"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add User</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li class="active">Users</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="users"></table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap-table.min.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#users').bootstrapTable({
                columns: [{
                        field: 'username',
                        title: 'Username',
                        formatter: function (value, row, index) {
                            return '<a href="/users/edit/'+row.id +'">' + value + '</a>';
                        }
                    }, {
                        title: 'Name',
                        formatter: function (value, row, index) {
                            return row.name_first + ' ' + row.name_last;
                        }
                    }],
                url: '/users/get',
                pagination: true,
                sidePagination: 'server',
                search: true
            });
        });
    </script>
{% endblock %}