{# app/Resources/views/lucky/number.html.twig #}
{% extends 'parts.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" style="margin-top:10px;margin-bottom:0px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <nav class="navbar navbar-default" style="margin-top:10px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <form action="{{ path('users_login_check') }}" class="navbar-form navbar-left" method="post">
                    <input type="text" id="username" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}" />
                    <input type="password" id="password" class="form-control" placeholder="Password" name="_password" />
                    <input type="hidden" name="_target_path" value="/" />
                    <button class="btn btn-primary" type="submit">login</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-xs-12">
            <h1>Welcome</h1>
            <p>Welcome to the CTPG parts system. To gain entry to this, please speak to a member of the team.</p>
        </div>
    </div>
{% endblock %}
