<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('bootstrap-3.3.5/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bootstrap-3.3.5/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="padding-top: 70px;">
<div class="container">
<nav class="navbar navbar-default navbar-fixed-top" id="mainnav" data-currentpage="{{app.request.getPathInfo}}">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-text">CTPG Parts System</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
<div class="col-xs-12">
        {% block body %}{% endblock %}
</div>
</div>
<script src="/jquery-1.11.3.min.js"></script>
    </body>
</html>
