{# app/Resources/views/lucky/number.html.twig #}
{% extends 'parts.html.twig' %}

{% block title %}Parts: Add{% endblock %}

{% block body %}
<h1>Add Parts To Stores</h1>
<ol class="breadcrumb">
  <li><a href="{{ path('parts_find') }}">Parts</a></li>
  <li class="active">Add Parts To Stores</li>
</ol>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
