{# app/Resources/views/lucky/number.html.twig #}
{% extends 'parts.html.twig' %}

{% block title %}Parts: Find{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap-table.min.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#parts').bootstrapTable({
                columns: [{
                        field: 'id',
                        title: 'ID'
                    }, {
                        field: 'name',
                        title: 'Name',
                        formatter: function (value, row, index) {
                            return '<a href="/parts/view/' + row.id + '">' + value + '</a>';
                        }
                    }, {
                        field: 'description',
                        title: 'Description'
                    }, {
                        title: 'Use Parts',
                        formatter: function (value, row, index) {
                            return '<div class="col-xs-6"><select class="form-control"> \
      <option value="">Select qty</option> \
      <option>2</option> \
      <option>3</option> \
      <option>4</option> \
      <option>5</option> \
    </select> </div>\
    <div class="col-xs-4"> \
      <button type="submit" class="btn btn-default" type="submit">Use Part</button></div></div>';
                        }
                    }],
                url: '{{ path('parts_types_get')}}',
                pagination: true,
                search: true
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <h1>Find Parts</h1>
        </div>
        <div class="col-sm-4 hidden-xs text-right" style="padding-top:20px;">
            <a href="{{ path('parts_add') }}" class="btn btn-xl btn-primary"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Part</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="parts"></table>
        </div>
    </div>
{% endblock %}
