{# app/Resources/views/lucky/number.html.twig #}
{% extends 'parts.html.twig' %}

{% block title %}Parts: Find{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap-table.min.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#parts').bootstrapTable({
                columns: [{
                        field: 'name',
                        title: 'Name',
                        formatter: function (value, row, index) {
                            return '<a href="/parts/view/' + row.id + '">' + value + '</a>';
                        }
                    },
                    {
                        field: 'part_type',
                        title: 'Type'
                    },
                    {
                        field: 'qty',
                        title: 'Qty'
                    },
                    {
                        field: 'location_name',
                        title: 'Location'
                    }],
                url: '/parts/search',
                pagination: true,
                sidePagination: 'server',
                search: true
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <h1>Find Parts</h1>
        </div>
        <div class="col-sm-4 hidden-xs text-right" style="padding-top:20px;">
            <a href="{{ path('parts_add') }}" class="btn btn-xl btn-primary"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Part</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li class="active">Parts</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="parts"></table>
        </div>
    </div>
{% endblock %}
