{% extends 'parts.html.twig' %}

{% block title %}Parts: View{% endblock %}

{% block body %}
    <h1>View Part - </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('parts_find') }}">Parts</a></li>
        <li class="active">View Part</li>
    </ol>

    <h3>Description</h3>


    <h3>Quatity</h3>


    <h3>Auditing</h3>
{% endblock %}
